/* 白天网站背景 */
#web_bg {
    background-size: 20rem;
    background-image: url(/img/img白天背景.svg) !important;
    background-repeat: initial
}

/* 夜间网站背景 */
[data-theme=dark] #web_bg {
    background-size: 100rem;
    background-image: url(/img/img夜间背景.jpg) !important;
}

/* 字体css */
@font-face {
    font-family: 'ChillRoundFRegularfont';
    < !-- 其中HuangkaihuaLawyerFont是引入的字体的名称，可以自定义 -->font-display: swap;
    src: url('/ttf/ChillRoundFRegular.ttf') format("truetype");
    < !-- url中填写自己的字体地址，我使用的是本地文件夹所以用的是相对路径，如果是外部引用的话在其中写入链接地址就好了 -->
}

/* 订阅css页面  开始 */
#post .tag_share+#follow {
    margin-top: 40px;
}

.rss-plan-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -4px;
    position: relative;
    justify-content: space-between;
}

.rss-plan-item:visited {
    color: #fff;
}

.rss-plan-item.rss-plan-wechat {
    background: #27c125;
}

.rss-plan-item.rss-plan-mail {
    background: #425AEF;
}

.rss-plan-item.rss-plan-rss {
    background: #e38100;
}

.rss-plan-item {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 240px;
    height: 240px;
    margin: 6px 0;
    overflow: hidden;
    text-decoration: none;
    width: calc(100% / 3 - 8px);
    filter: brightness(1);
    transition: .3s;
    border: var(--style-border);
    box-shadow: #2c2d300c;
}

.rss-plan-item:hover {
    filter: brightness(1.1)
}

@media screen and (max-width: 1024px) {
    .rss-plan-item {
        width: calc(100% / 2 - 4px)
    }

    .rss-plan-item:first-child {
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    .rss-plan-item {
        width: 100%
    }
}

/* 卡片大小 */

.rss-plan-description {
    font-size: 16px;
    color: #fff;
    margin: 26px 0 0 30px;
    line-height: 20px;
}

.rss-plan-info-group {
    position: relative;
    margin: 0 0 26px 30px;
    color: #fff;
}

.rss-plan-title {
    font-size: 36px;
    font-weight: 700;
    width: fit-content;
    line-height: 1;
}

.rss-plan-info {
    width: fit-content;
    opacity: .6;
}

img.rss-plan-icon {
    position: absolute;
    bottom: -50px;
    right: -20px;
    height: 140px;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-transition: all 1.2s cubic-bezier(.39, .575, .565, 1) !important;
    -moz-transition: all 1.2s cubic-bezier(.39, .575, .565, 1) !important;
    -o-transition: all 1.2s cubic-bezier(.39, .575, .565, 1) !important;
    -ms-transition: all 1.2s cubic-bezier(.39, .575, .565, 1) !important;
    transition: all 1.2s cubic-bezier(.39, .575, .565, 1) !important;
    transform-origin: bottom right;
    filter: blur(8px);
    opacity: .6;
}

.rss-plan-item:hover img.rss-plan-icon {
    bottom: -40px;
    right: -10px;
    filter: blur(0);
    opacity: 1
}

.rss-plan-item:hover {
    text-decoration: none !important;
}

/* 卡片订阅样式 */

.follow-it-form-subscribe {
    position: relative;
    display: block;
    padding: 26px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: #e3e8f7;
    box-shadow: #2c2d300c;
    background-color: #F7F7F9;
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
    .follow-it-form-subscribe::before {
        content: '';
        background: url(https://blog-image-1302787555.cos.ap-guangzhou.myqcloud.com//imgfollow.svg);
        position: absolute;
        top: 30px;
        right: 26px;
        width: 122px;
        height: 25px;
        filter: blur(2px);
    }
}

.follow-it-form-subscribe .heading {
    width: 100%;
    margin-bottom: 0.5rem;
}

.follow-it-form-subscribe .heading h5 {
    margin: 0 0 0.2rem 0;
    color: #363636;
    font-size: 18px;
}

.follow-it-form-subscribe .input-field {
    margin-top: 20px;
    width: 100%;
}

.follow-it-form-subscribe .input-field input {
    width: 100%;
    height: 48px;
    border-radius: 6px;
    border: 2px solid #e3e8f7;
    outline: none;
}

.follow-it-form-subscribe .input-field input::placeholder,
.follow-it-form-subscribe .input-field input {
    opacity: .6;
    background: #f7f7f9;
    color: #363636;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.follow-it-form-subscribe .submit-button {
    margin-top: 16px;
    width: 100%;
}

.follow-it-form-subscribe .submit-button button {
    width: 100%;
    height: 42px;
    border: 0;
    border-radius: 6px;
    line-height: 0;
    color: #fff;
    background: #000;
    box-shadow: #2c2d300c;
    transition: .3s;
}

.follow-it-form-subscribe .submit-button button:hover {
    cursor: pointer;
    background: #425AEF;
}

.submit-box {
    opacity: 0;
    height: 0;
    transition: all .3s ease 0s;
}

.submit-box.display {
    opacity: 1;
    height: auto;
}

/* follow样式 */

/* 订阅css页面  结束 */



/* 首页背景渐进式加载 开始*/

/* 首页头图加载 */
.pl-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    will-change: transform;
    /* 添加性能优化 */
    animation: blur-to-clear 2s cubic-bezier(.62, .21, .25, 1) 0s 1 normal backwards running, scale 1.5s cubic-bezier(.62, .21, .25, 1) 0s 1 both;
}

.pl-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

@keyframes blur-to-clear {
    0% {
        filter: blur(50px);
        opacity: 1;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(1.5) translateZ(0);
        opacity: 0;
    }

    to {
        transform: scale(1) translateZ(0);
        opacity: 1;
    }
}

.pl-visible {
    opacity: 1;
}

.pl-blur {
    /* 小图锯齿多，增加高斯模糊 */
    filter: blur(50px);
}


/* 首页背景渐进式加载  结束*/