extends includes/layout.pug

block content
  if theme.category_ui == 'index'
    include ./includes/mixins/post-ui.pug
    #recent-posts.recent-posts.category_ui
      +postUI
      include includes/pagination.pug
  else
    include ./includes/mixins/article-sort.pug
    #category
      // 添加分类页统计图表
      <div id="categories-chart" data-parent="true" style="height: 300px; padding: 10px;"></div> 
      #catalog-bar
        i.anzhiyufont.anzhiyu-icon-shapes
        #catalog-list
          != catalog_list("categories", page)
      .article-sort-title= _p('page.category') + ' - ' + page.category
      +articleSort(page.posts, page.current)
      include includes/pagination.pug